.about_container {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  position: relative;
}
.about_title {
  text-transform: capitalize;
  font-weight: 700;
}
.about_column {
  text-align: center;
}
p {
  font-weight: 700;
  font-size: 16px;
}
.aboutMe_footer {
  height: 100px;
  background: olive;
  margin-top: 40px;
  margin-bottom: 40px;
}
