.banner {
  text-align: center;
}
.space {
  height: 300px;
}
.banner_textBackground {
  background-color: rgb(128, 128, 1, 0.5);
}
.banner_title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  color: inherit;
  font-family: inherit;
  color: white;
}
.banner_subtitle {
  font-weight: 500;
  text-transform: capitalize;
  color: white;
}
.code.icon.inverted {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.icons {
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-left: 0;
}
.icons li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.banner_footer {
  height: 100px;
  background: olive;
  margin-bottom: 40px;
}
