.nav {
  display: flex;
  justify-content: center;
  z-index: 1;
  flex-direction: row;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  padding-top: 30px;
}

.nav > li,
.nav > li > a {
  position: relative;
  display: block;
}

.nav > li > a {
  padding: 10px 15px;
  padding-top: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
