* {
  margin: 0;
  padding: 0;
  top: 0;
}
html {
  scroll-behavior: smooth;
}
.app {
  background-color: #dddddd;
}
h1 {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.banner_header {
  background: url("./components/images/Unsplash_Szabolcs_Toth.jpg");
  background-size: cover;
}
